/* Responsive below 1248px */
@media (max-width: 76em) {
  main {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    width: 60%;
    margin: 2rem 0;
    padding: 2.4rem;
  }

  /********** TITLE SECTION **********/
  .section-title {
    justify-self: center;
    align-items: center;
    text-align: center;
  }

  .title-text {
    padding: 0;
  }

  .intro-text {
    padding: 0;
  }

  /********** RATINGS SECTION **********/
  .section-ratings {
    align-items: center;
    width: 100%;
    justify-self: center;
  }

  .rating-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 0;
    width: 100%;
    min-height: 8rem;
    padding: 1rem 0;
  }

  .rating-stars {
    margin-right: 0;
  }

  .rating-item:nth-child(1) {
    transform: translateX(0);
  }

  .rating-item:nth-child(2) {
    transform: translateX(0);
  }

  /********** TESTIMONIALS SECTION **********/

  .section-testimonials {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 375px;
  }

  .testimonial {
    width: 100%;
    row-gap: 2rem;
  }

  .testimonial:nth-child(2),
  .testimonial:nth-child(3) {
    margin-top: 0;
  }
}

/* Responsive below 688px */
@media (max-width: 43rem) {
  main {
    margin: 0;
    width: 100%;
    row-gap: 6rem;
  }
}
