/* Responsive below 1088px */

@media (max-width: 68em) {
  main {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  /********** TITLE SECTION **********/
  .section-title {
    justify-self: center;
    align-items: center;
    max-width: 80%;
    text-align: center;
    padding: 0;
  }

  /********** RATINGS SECTION **********/
  .section-ratings {
    align-items: center;
    width: 100%;
  }

  .rating-item:nth-child(1) {
    margin-right: 0;
  }

  .rating-item:nth-child(2) {
    margin-right: 0;
  }
}

/* Responsive below 786px */
@media (max-width: 50em) {
  main {
    grid-template-columns: 1fr;
  }

  /********** TITLE SECTION **********/
  .section-title {
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .title-text {
    font-size: 4rem;
    margin: 0 auto 2rem auto;
    padding-right: 0;
    text-align: center;
    max-width: 100%;
  }

  .intro-text {
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }

  /********** RATINGS SECTION **********/

  .section-ratings {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rating-item {
    flex-direction: column;
    padding: 1rem 0;
    max-width: 80%;
  }

  /********** TESTIMONIALS SECTION **********/

  .section-testimonials {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 375px;
  }

  .testimonial {
    width: 100%;
    row-gap: 2rem;
  }

  .testimonial:nth-child(2),
  .testimonial:nth-child(3) {
    margin-top: 0;
  }
}
